<h2>List of Works</h2>

<section>
  <h3>Albums</h3>
  <%= render partial: "works", locals: { category: "album" } %>
</section>

<section>
  <h3>Books</h3>
  <%= render partial: "works", locals: { category: "book" } %>
</section>

<section>
  <h3>Movies</h3>
  <%= render partial: "works", locals: { category: "movie" } %>
</section>

<div>
  <%= link_to "View top media", root_path, class: "btn btn-secondary" %>
  <%= link_to "Add a new work", new_work_path, class: "btn btn-info" %>
</div>