<h2><%= @work.title %></h2>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>

<%= link_to "Back to media ranks", works_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary" %>
<%# TODO: only show upvote if user is logged in %>
<%= link_to "Upvote", work_path(@work.id), class: "btn btn-primary" %>
<%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>

<%# TODO: loop through votes and create table %>
<h3># Votes for this <%= @work.category %></h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% # Vote.where(work_id: @work.id).each do |vote| %>
      <tr>
        <td>user</td>
        <td>date</td>
      </tr>
    <% # end %>
  </tbody>
</table>